.wrapper {
  display: flex;
  justify-content: space-around;
  height: 100vh;

  flex-wrap: wrap;
  /* 
    flexbox 에게 child의 크기를 유지
    nowrap이 default
    flexbox는 그저 한 줄에 위치하면 되기때문에
    width는 신경 쓰지 않아서 찌그러짐
  */
  flex-direction: column-reverse;
  /* main axis의 방향을 반대로 */

  align-content: space-between;
  /*
    align-content는 line을 변경 함 => 폭 줄이고 배치 
    cross axis
  */
}
/*
    flex container 사용
    가장 가까운 부모가 자식의 위치를 움직일 수 있음
    flex-direction 은 행 열로 구분 가능 column row
    
    justify-content
    main axis 방향으로 자식태그 위치 조정 (가로)
    align-item
    cross axis 방향으로 자식태그 위치 조정 (세로)
*/

.box {
  width: 200px;
  height: 200px;
  background: peru;
  color: white;
  font-size: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  /* 여기에 justify와 align을 넣은 이유는 숫자 가운데로 하기 위함 */
}

/*
  order는 default값이 0이므로
  1, 3은 0이기 때문에 order를 1로 주면
  2번째 박스가 맨 뒤로 감
*/

/*
  align-self
  1개만 변경
*/
